##template comentado para não ter risco de conflito
# export DEV_SCHEMA_NAME="dev_matt_bronze" # schema inicial no qual os dados serão transformados a partir da source 
# export DEV_DATABRICKS_CATALOG="my_catalog" #nome do catalog que contém os dados de dev
# export DEV_DATABRICKS_HOST="https://<dbc-526d744b-bf20>.<cloud.databricks>.com/" # link do workspace(clicar em workspace dbks)
# export DEV_DATABRICKS_HTTP_PATH="/sql/1.0/warehouses/304f3b1a5e701bc5" ## htth_path do sql warehouse
# export DEV_DATABRICKS_TOKEN="dapie*****************************" ##token gerado no user developer